:root {
  --gradiente-vice-rosa-escuro-azul-claro: linear-gradient(
    0deg,
    #f195ac 0%,
    #00a8ff 100%
  );

  --gradiente-menu-mobile: linear-gradient(0deg, #00a8ff 0%, #f195ac 100%);
  --gradiente-vice-azul-escuro-rosa-claro: linear-gradient(
    90deg,
    #0266c8 0%,
    #f4afc2 100%
  );
  --gradiente-vice-roxo-rosa-claro: linear-gradient(
    90deg,
    #b28bc0 0%,
    #00a8ff 100%
  );

  --roxo-vice: #b28bc0;
  --branco: #e2e2e2;
  --preto: #1d1d1d;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: var(--preto);
  color: var(--branco);
}

img {
  max-width: 100%;
  max-height: 300px;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  padding: 4px;
  color: #f5ebeb;
  text-align: center;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1150px;
  margin: 30px auto;
}
