@media (max-width: 1050px) {
  .jogos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 980px) {
  .overlay {
    opacity: 0;
    transition: 0.5s ease;
  }

  .jogo-img.ativo .overlay {
    opacity: 1;
  }

  #box-title h1 {
    font-size: 2rem;
  }
}

@media (max-width: 790px) {
  .header {
    padding: 15px 0px;
  }

  .logo span {
    font-size: 0.95rem;
  }

  #box-title h1 {
    font-size: 1.75rem;
  }

  .intro .sub-title {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  .jogos {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 0px;
  }

  .intro img {
    max-width: 80%;
    height: 200px;
  }

  #btn-mobile {
    display: flex;
  }

  #menu {
    display: block;
    background: var(--preto);
    position: absolute;
    z-index: 9;
    left: 0px;
    top: 70px;
    width: 100%;
    padding-top: 10px;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.4s;
  }

  #menu li {
    margin-left: -20px;
  }

  #nav-menu.active #menu {
    height: calc(100vh - 50px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    font-size: 1rem;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .details {
    border: none;
  }

  .cp {
    border: none;
  }
}

@media (max-width: 580px) {
  .header {
    padding: 10px 0px;
  }

  .logo span {
    font-size: 0.85rem;
  }

  .intro .sub-title {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 25px;
  }

  .infos p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  #menu {
    top: 60px;
  }

  #menu li {
    margin-left: -10px;
  }

  .container {
    margin: 0px 10px;
  }

  .jogos {
    margin-top: 110px;
  }
}

@media (max-width: 530px) {
  .jogos {
    grid-template-columns: 1fr;
    gap: 30px 0px;
  }

  #box-title h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  #foto-logo {
    width: 60px;
    height: 60px;
  }

  #menu {
    top: 57px;
  }

  #box-title {
    border: none;
  }

  #box-title h1 {
    font-size: 0.955rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #menu a {
    font-size: 0.95rem;
  }

  .logo span {
    font-size: 0.75rem;
  }

  .jogo {
    width: 70%;
  }
}
